.content__title {
    margin-bottom: 2.5em;
}

.deformFormFieldset {
    border: none;
    margin: 0;
    padding: 0;
}

textarea[name='message'] {
    width: 100%;
    padding: .5em;
}

#item-deformField1 label {
    display: none;
}
