.content__title {
    margin-bottom: 2.5em;
}

.deformFormFieldset, .deform li {
    border: none;
    margin: 0;
    padding: 0;
}

textarea[name='message'] {
    width: 100%;
}

#item-deformField1 label {
    display: none;
}

#version-info {
    margin-top: 3em;
    opacity: .5;
    font-size: 80%;
}
